#titulo{
       color: tomato;
}

p.texto{
    color: slateblue;
}

p.especial{
    color: mediumseagreen;
}

div p{
    color:aquamarine;
}

div h2, div h3{
    color: brown;
}

*{
    font-size: 24px;
    /*color: black;*/
}

/*Esto es un comentario*/

/*
.color {
    color: #ff0000;
}

.color {
    color: rgb(0, 0, 255);
}
*/

.color {
    /*border: 5px red inset;*/
    /*
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outse
    none
    hidden
    */
    border-style: solid;
    border-color: red;
    border-radius: 5px;
    border-width: 4px;
}

#fondo {
    background-color: rgb(255, 0, 0);
    /*opacity: 0.6;*/
    height: 150px;
    background: #f00 url('IMGs/img1.jpeg') repeat-x center bottom / 100px 100px;
} 

.margen {
    background-color: chocolate;
    margin: 15px;
    padding: 30px 25px 20px 15px;
    border: solid 5px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}

.text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 5px 5px blue;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

ul {
    background-color: cyan;
    /*list-style-type: none;
    padding-left: 0;*/
    list-style-position: inside;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #eee;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:child(event) {
    background-color: #eee;
}

tr:hover {
    background-color: #aaa;
    cursor: pointer;
}

span {
    display: block;
    /*display: none;
    visibility: hidden;*/
    max-width: 300px;
    background-color: #f00;
}

.intline {
    display: intline; 
}

#position {
    position: relative;
    left: 20px;
    /*top: 25px;*/
}

.left {
    float: left;
    width: 200px;
    height: 200px;
}

.rigth {
    float: rigth; 
}

.container {
height: 200px;
}

.column {
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}

.inline-block {
display: inline;
height: 55px;
background-color: red;
}

.center {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}